<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
        <a class="nav-link" routerLink="/admin/roles">Roles</a>
      </li>
      <li class="nav-item" *ngIf="authService.hasRole('ADMIN')">
        <a class="nav-link" routerLink="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/my-courses">My Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/all-courses">All Courses</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Courses</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/admin/courses">My Courses</a></li>
          <li><a class="dropdown-item" routerLink="/admin/subscription">Subscribe To Course</a></li>
          <li><a class="dropdown-item" routerLink="/admin/new-course">Add New Course</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/students">Students</a>
      </li>
    </ul>

    <ul class="navbar-nav float-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{authService.userProfile!.username}}</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          <li><a class="dropdown-item" routerLink="/admin/profile">Profile</a></li>
          <li><a class="dropdown-item" href="#">Search</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <ng-template #noProfile>
          <img width="30" class="img-thumbnail" src="/assets/up.jpeg">
        </ng-template>

        <img *ngIf="authService.userProfile!.photoURL; else noProfile" width="30" class="img-thumbnail" [src]="authService.userProfile!.photoURL+'?ts='+authService.ts  | secure | async" >

      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
