<div class="p-3">
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <form [formGroup]="formGroup" (ngSubmit)="forgotPassword()">
    <div class="mb-3" *ngIf="state==1">
      <label class="form-label">Your Email</label>
      <input class="form-control" type="text" formControlName="email">
    </div>
    <div class="mb-3" *ngIf="state==2">
      <label class="form-label">Secret Code</label>
      <input class="form-control" type="text" formControlName="secretCode">
    </div>
    <div class="mb-3" *ngIf="state==3">
      <label class="form-label">Password</label>
      <input class="form-control" type="text" formControlName="password">
    </div>
    <div class="mb-3" *ngIf="state==3">
      <label class="form-label">Confirm Password</label>
      <input class="form-control" type="text" formControlName="confirmPassword">
    </div>
    <button class="btn btn-info">Submit</button>
  </form>
</div>
