<div class="p-3">
  <div class="card" *ngIf="currentCourse">
    <div class="nav border border-info p-1 m-1">
      <button class="btn btn-outline-info ms-1" (click)="getCourseSubscriptions()">Students</button>
      <button class="btn btn-outline-info ms-1" (click)="getCourseResources()">Resources</button>
      <button class="btn btn-outline-info ms-1" (click)="getCourseResources()">HomeWorks</button>
      <button *ngIf="currentCourse.teacher.userId==authService.userProfile!.userId" class="btn btn-outline-info ms-1" (click)="newResource()">Add New Resource</button>
      <button *ngIf="currentCourse.teacher.userId==authService.userProfile!.userId" class="btn btn-outline-info ms-1" (click)="newHomework()">Add New Homework</button>
      <button *ngIf="currentCourse.teacher.userId==authService.userProfile!.userId" class="btn btn-outline-info ms-1" (click)="sendEmailToStudents()">Send Email to Students</button>
    </div>
    <div class="card-header">Course : {{currentCourse.id}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img [src]="currentCourse.pictureURL+'?ts='+timestamp | secure | async" class="img-thumbnail" width="150">
        </div>
        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item">Title: {{currentCourse.title}}</li>
            <li class="list-group-item">Group: {{currentCourse.title}}</li>
            <li class="list-group-item">Prof: {{currentCourse.teacher.firstName}}</li>
            <li *ngIf="subscriptions" class="list-group-item">Subscription: {{subscriptions.length}}</li>
          </ul>
          <div *ngIf="currentCourse.teacher.userId==authService.userProfile!.userId">
              <div *ngIf="mode==0">
                <button class="btn btn-info" (click)="mode=1">
                  <i class="bi bi-upload"></i>
                </button>
              </div>
              <div *ngIf="mode==1" class="small">
                <input type="file" (change)="selectFile($event)">
                <button class="btn btn-info btn-sm" (click)="uploadCoursePhoto()"><i class="bi bi-upload"></i></button>
              </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="row">
              <div class="col text-center"><strong>Pr. {{currentCourse.teacher.firstName}} {{currentCourse.teacher.lastName}}</strong></div>
              </div>
            <div class="col text-center">
                <img width="150" class="img-thumbnail" [src]="authService.host+'/public/profile/photo/'+currentCourse.teacher.userId">
            </div>
          </div>
        </div>
      </div>

      <table class="table" *ngIf="subscriptions">
        <thead>
        <tr>
          <th>Profile</th><th>First Name</th> <th>Last Name</th><th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sub of subscriptions">
          <td><img width="50" class="rounded-circle" [src]="authService.host+'/public/profile/photo/'+sub.student.userID"></td>
          <td>{{sub.student.firstName}}</td>
          <td>{{sub.student.lastName}}</td>
          <td>{{sub.student.email}}</td>
        </tr>
        </tbody>
      </table>
      <div> </div>

    </div>
  </div>
</div>
