<div class="m-3">
  <div class="row">
    <div class="col-md-6">
      <table class="table tab-pane" *ngIf="roles">
        <thead>
        <tr>
          <td><input class="form-control" type="text" [(ngModel)]="roleName"> </td>
          <td><button class="btn btn-info" (click)="saveRole()">Add</button></td>
        </tr>
        <tr>
          <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of roles">
          <td>{{r.roleName}}</td>
          <td><button (click)="deleteRole(r)" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
